---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, </h1>
			<p>
				I am John James!
			</p>
			<p>
				I am current a flight instructor at <a href="https://und.edu/">University of North Dakota</a>
			</p>
			<p>Things that i like to do</p>
			<ul>
				<li>Fly</li>
				<li>Computers</code></li>

			</ul>
			<p>
				This is being written with astro.
			</p>
		</main>
		<Footer />
	</body>
</html>
